
*.bin
*.code-workspace
*.png
*.tar
/_documents
/bin/rsync_down.sh
/data/1_*
/data/2_*
/data/3_*
/data/4_*
/data/6_*
/data/7_*
/data/cache/
/data/helper/
/data/tmp/
/docs/tiles/
/node_modules/
/rust/target/
~*
